@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Dancing+Script:wght@400..700&family=League+Spartan:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans:
        "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-poppins: "Poppins", sans-serif;
    --font-dm-sans: "DM Sans", sans-serif;
    --font-dancing-script: "Dancing Script", cursive;
    --font-league-spartan: "League Spartan", sans-serif;
    --font-bebas-neue: "Bebas Neue", sans-serif;
}

html {
    scroll-behavior: smooth;
}

[x-cloak] {
    display: none !important;
}

.gotham-bg {
    background:
        radial-gradient(
            circle at 50% 20%,
            rgba(30, 10, 10, 0.4) 0%,
            rgba(10, 10, 10, 1) 70%
        ),
        #0a0a0a;
}

@keyframes slowPulse {
    0%,
    100% {
        opacity: 0.05;
    }
    50% {
        opacity: 0.1;
    }
}

.gotham-bg::after {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(
        circle at 70% 20%,
        rgba(255, 0, 0, 0.08),
        transparent 60%
    );
    animation: slowPulse 12s infinite ease-in-out;
    pointer-events: none;
}

.scan-line {
    position: absolute;
    bottom: 0;
    left: -100%;
    height: 1px;
    width: 200%;
    background: linear-gradient(
        90deg,
        transparent,
        rgba(180, 0, 0, 0.8),
        transparent
    );
    animation: scanMove 6s linear infinite;
    opacity: 0.4;
}

@keyframes scanMove {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(50%);
    }
}

.nav-link {
    position: relative;
}

.nav-link:hover {
    transform: translateX(0.5px);
}
